%{
  def childrenRoute = play.mvc.Router.reverse(_controller + '.getChildren');
  def createRoute = play.mvc.Router.reverse(_controller + '.create');
  def removeRoute = play.mvc.Router.reverse(_controller + '.remove');
  def renameRoute = play.mvc.Router.reverse(_controller + '.rename');
  def moveRoute = play.mvc.Router.reverse(_controller + '.move');
}%


$("#${_id}").bind("create.jstree", function (e, data) {
$.post(
        "${createRoute}",
{
  "treeId" : "${_id}",
  "parentId": data.rslt.parent.attr ? extractId(data.rslt.parent.attr("id")) : -1,
  "position" : data.rslt.position,
  "name" : data.rslt.name,
  "type" : data.rslt.obj.attr("rel"),
  "args" : data.rslt.obj.data("args") ? data.rslt.obj.data("args") : null

},
        function (r) {
          if (r.status) {
            $(data.rslt.obj).attr("id", "node_" + r.type + "_" + r.id);
          }
          else {
            $.jstree.rollback(data.rlbk);
          }
        }
        );
})
      .bind("delete_node.jstree", function (e, data) {
data.rslt.obj.each(function () {
  $.ajax({
    async : false,
    type: 'DELETE',
    url: "${removeRoute}",
    data : {
      "treeId" : "${_id}",
      "id" : extractId(this.id),
      "parentId": data.rslt.parent.attr ? extractId(data.rslt.parent.attr("id")) : -1,
      "type" : data.rslt.obj.attr("rel"),
      "args" : data.rslt.obj.data("args") ? data.rslt.obj.data("args") : null

    },
    success : function (r) {
      if (!r.status) {
        data.inst.refresh();
      }
    }
  });
});
})
      .bind("rename.jstree", function (e, data) {
$.post(
        "${renameRoute}",
{
  "treeId" : "${_id}",
  "id" : extractId(data.rslt.obj.attr("id")),
  "name" : data.rslt.new_name,
  "type" : data.rslt.obj.attr("rel")
},
        function (r) {
          if (!r.status) {
            $.jstree.rollback(data.rlbk);
          }
        }
        );
})
      .bind("move_node.jstree", function (e, data) {
data.rslt.o.each(function (i) {
  $.ajax({
    async : false,
    type: 'POST',
    url: "${moveRoute}",
    data : {
      "treeId" : "${_id}",
      "id" : extractId($(this).attr("id")),
      "target" : extractId(data.rslt.np.attr("id")),
      "position" : data.rslt.cp + i,
      "name" : data.rslt.name,
      "copy" : data.rslt.cy ? true : false
    },
    success : function (r) {
      if (!r.status) {
        $.jstree.rollback(data.rlbk);
      }
      else {
        $(data.rslt.oc).attr("id", "node_" + r.type + "_" + r.id);
        if (data.rslt.cy && $(data.rslt.oc).children("UL").length) {
          data.inst.refresh(data.inst._get_parent(data.rslt.oc));
        }
      }
    }
  });
});
});

function extractId(id) {
  return id.substring(id.lastIndexOf("_")+1);
}